<h1>
  Register Players
</h1>

<h4 *ngIf="isShown">Players: {{players}}</h4>
<div>
  <h4 class="error">{{message}}</h4>
  <form #playersForm="ngForm" (ngSubmit)="registerContestants(playersForm)">
    <div ngModelGroup="players">
      <div *ngFor= 'let player of players; let i=index; trackBy:trackByFn'>
        <input type="text"
        [(ngModel)] ="players[i]"
        placeholder="Contestant "
        name = 'player'
        required/>
        <div class="error" *ngIf="(player.dirty  || message) && player.invalid">
          Player name is required
        </div>
      </div>
    </div>    
    <button type="submit">Register Contestants</button>
  </form>
</div>
